<div class="container p-4">
    <form id="form_bill" action="/bill/generate_bill" method="POST">
        {{#each bill}}
            <div class="form-row">
                <div class="form-group col md-4">
                    <label for="inputDestinity">Nombre del destinatario</label>
                    <input id="inputDestinity" class="form-control" type="text" name="destinatario_name" readonly="readonly"
                        value="{{fullname}}">
                </div>
                <div class="form-group col md-4">
                    <label for="inputCed">Cedula</label>
                    <input id="inputCed" class="form-control" type="text" name="destinatario_ced" readonly="readonly"
                        value="{{ced}}">
                </div>
                <div class="form-group col md-4">
                    <label for="inputDate">Fecha de emision</label>
                    <input id="inputDate" class="form-control" type="date" name="fecha_emision">
                </div>
            </div>
        {{/each}}
        
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputCode">Codigo</label>
                <select id="inputCode" class="form-control" name="code">
                    {{#each services}}
                        <option>{{code}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="inputDescription">Descripcion</label>
                <select id="inputDescription" class="form-control" name="code_name"></select>
            </div>
            <div class="form-group col-md-1">
                <label for="InputCuantity">cantiddad</label>
                <input id="InputCuantity" class="form-control" type="number">
            </div>
            <div class="form-group col-md-1">
                <label for="InputPrecio">Precio/U</label>
                <select id="InputPrecio" class="form-control" name="cost_service">
                   
                </select>
            </div>
            <div class="form-group col-md-1">
                <label for="inputTotal">Total</label>
                <input id="inputTotal" readonly="readonly" name="total_service" class="form-control" type="number" step="0.0001">
            </div>

        </div>
        <div id="create_bill" class="form-row">
            <table class="table">
                <thead class="dark">
                    <tr>
                        <th>Código</th>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>Precio unitario</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody id="tbody_">
                    
                </tbody>
            </table>
        </div>
        <button id="Add_bill" class="btn btn-warning" type="button">Agregar más valores</button>
        <button id="Btn_bill" class="btn btn-success" type="submit">Generar Factura</button>
    </form>
</div>