<div class="container p-4 mx-auto">
    <form action="/main/logger" method="POST" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-10">
                <label for="inputCedula">Cedula</label>
                <input required type="text" class="form-control" id="inputCedula" name="ced" autofocus>
            </div>
            <div class="form-group col-md-7">
                <label for="inputNombre">Nombres</label>
                <input required type="text" class="form-control" id="inputNombre" name="fullname">
            </div>
            <div class="form-group col-md-3">
                <label for="inputNombre">Nombbre de la máscota</label>
                <input required type="text" class="form-control" id="inputNombre" name="pet_name">
            </div>
            
            <div class="form-group col-md-5">
                <label for="inputFoto">Imagen</label>
                <div class="custom-file">
                    <input required type="file" class="custom-file-input" id="inputGroupFile03"
                        aria-describedby="inputGroupFileAddon03" name="image">
                    <label class="custom-file-label" for="inputGroupFile03">Selecciona la imagen</label>
                </div>
            </div>
            <div class="form-group col-md-5">
                <label for="inputTelefono">Email</label>
                <input required type="text" class="form-control" id="inputEmail4" name="email" name="email">
            </div>
            <div class="form-group col-md-3">
                <label for="inputTelefono">Telefono</label>
                <input required type="text" class="form-control" id="inputTelefono" name="phone">
            </div>
            <div class="form-group col-md-7">
                <label for="inputAddress">Dirección</label>
                <input required type="text" class="form-control" id="inputAddress"
                    placeholder="calle, manzana y/o villa" name="address">
            </div>
        </div>
        <button type="submit" class="btn btn-success">Guardar</button>
    </form>
</div>