<div class="container p-4">
    <form id="medical_register" action="">

        <div class="form-row">
            <div id="title" class="form-group col-md-12">
                <label for="inputGeneral">DATOS DEL PACIENTE</label>
            </div>
            <div class="form-group col-md-4">
                <label for="inputPetname">Nombre de la mascota</label>
                <input id="inputPetname" class="form-control" type="text" name="pet_name">
            </div>
            <div class="form-group col-md-4">
                <label for="inputSex">Sexo</label>
                <select id="inputSex" class="form-control" name="sexo">
                    <option selected>Macho</option>
                    <option>Hembra</option>
                </select>
            </div>
            <div class="form-group col-md-4">
                <label for="inputRaza">Raza</label>
                <input id="inputRaza" class="form-control" type="text">
            </div>
        </div>
    </form>
</div>