<div class="container p-4">
    <div class="card mx-auto">
        <div class="card-header">
            
        </div>
        <div class="card-body">
            <h5 class="card-title">Visitas pendientes</h5>
        </div>
    </div>
</div>