<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="New_navbar">
    <a class="navbar-brand" href="#">Mr. {{user.user}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>

            <li class="nav-item dropdown" id="Items_dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div id="Dropdown_links" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/main/logger">Solicitar una cita</a>
                    <a class="dropdown-item" href="/main/msn">Escríbenos para cualquier consulta</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            {{#if user}}
                <li class="nav-item dropdown" id="Items_dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Personal
                    </a>
                    <div id="Dropdown_links" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/auth/signup">Agregar nuevo personal</a>
                        <a class="dropdown-item" href="/main/msn">Escríbenos para cualquier consulta</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item dropdown" id="Items_dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Solicitudes
                    </a>
                    <div id="Dropdown_links" class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link " href="/main/state" tabindex="-1">States</a>
                        <a class="nav-link " href="#" tabindex="-1">Messagges</a>
                        <a class="nav-link " href="/main/visit" tabindex="-1">Request</a>

                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#" tabindex="-1">Stock</a>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link " href="/main/state" tabindex="-1">States</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#" tabindex="-1">Messagges</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/main/visit" tabindex="-1">Request</a>
                </li>-->
                <li class="nav-item">
                    <a class="nav-link " href="#" tabindex="-1">Others</a>
                </li>

                <li class="nav-item">
                    <a class="btn btn-success" id="Button_click" href="#">Show</a>
                </li>
            {{/if}}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary" type="submit">Search</button>
        </form>
    </div>
</nav>