<div id="sidebar">
    <ul>
        <li><a href="#">Dato 1</a></li>
        <li><a href="#">Dato 2</a></li>
        <li><a href="#">Dato 3</a></li>
        <li><a href="#">Dato 4</a></li>
        <li><a href="#">Dato 5</a></li>
        <li><a href="/auth/login">Login</a></li>
    </ul>
</div>