<div id="sidebar">
    <ul>
        <li><a href="#">Traslado de mercaderia</a></li>
        <li><a href="#">Visitas pendientes</a></li>
        <li><a href="#">Estatus de las visitas</a></li>
        <li><a href="/pers/schedule">Horarios de visita</a></li>
        <li><a href="/pers/med">Personal médico</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/logout">Logout</a></li>
    </ul>
</div>