<div class="container p-4">
    <div class="row">
        {{#each stocks}}
            <div class="col-md-3">
                <div class="card" id="card_product">
                    <div class="card-header">
                        <img src="../../public/img/profile_stock/{{foto}}" style="width: 18rem;">
                    </div>
                    <div class="card-body">
                        <div class="btn_place">
                            <a class="btn btn-success" href="/stck/render/{{id}}">Abrir</a>
                            <a class="btn btn-warning" href="/stck/render/{{id}}">Modificar</a>
                            <button class="btn btn-dark" disabled><strong>{{cantidad}}</strong></button>
                        </div>

                    </div>
                </div>
            </div>
        {{/each}}
    </div>

</div>